<link href="~/Content/about_picture.css" rel="stylesheet" />
<link href="~/Content/about_title.css" rel="stylesheet" />
<link href="~/Content/about_paragraph.css" rel="stylesheet" />
<br />
<div class="text-center">
    General Hospital
</div>
<div class="image">
    <img src="~/Resources/医院.png" width="1000" height="400"
</div>
<br />
<div class="text-left">
    The hospital was established in 1947. After 70 years of
    construction and development, it has now become the
    largest "grade 3 grade A" general hospital in the region
    integrating medical treatment, scientific research,
    teaching, prevention, health care and first aid.
    Hospital scale: The total construction area of the
    hospital is 313,500.17 square meters.
    Including outpatient building, block A, block B, block C
    inpatient building, science and education building,
    heart center, tumor center, oxygen production center,
    heating center, affiliated health school, etc.Leading technology:
    In addition to diagnosing and treating common diseases, frequently-occurring diseases, endemic
    diseases, and occupational diseases, actively using high, sophisticated and cutting-edge
    technologies, has overcome many intractable diseases and a number of difficult operations,
    and filled many medical gaps in the autonomous region. Such as allogeneic liver transplantation,
    kidney transplantation, intracardiac interventional technology, molecular therapy technology,
    heart valve replacement, bone and joint replacement, coronary artery bypass grafting, corneal
    transplantation, cochlear implant technology, minimally invasive surgery, hematopoiesis Stem
    cell transplantation, medical assisted reproductive technology, etc. In 1954, he successfully
    performed the first thoracotomy and lobectomy in the region. In 1956, he successfully completed
    the first radical operation for esophageal cancer. In 1987, he successfully completed the first "
    allogeneic kidney transplantation" in the region. In 2007, he completed the first parental kidney
    transplantation in the autonomous region. .
</div>
    

