<link href="~/Content/Book.css" rel="stylesheet" />
<br />
<div class="top">
    <div class="top_title">
        Nutrition Doctor list
    </div>
</div>
<br />

<div class="doctor1">
    <div class="doctor1img">
        <img src="~/Resources/doctor1.png" width="200" height="200" />
    </div>
    <div class="doctor1intro">
        <p>Chief Physician, Professor </p>
    </div>
    <div class="doctor1book">
        <button>
            Book
        </button>
    </div>
</div>
<br />
<div class="doctor2">
    <div class="doctor2img">
        <img src="~/Resources/doctor1.png" width="200" height="200" />
    </div>
    <div class="doctor1intro">
        <p>Chief Physician, Professor </p>
    </div>
    <div class="doctor2book">
        <button>
            Book
        </button>
    </div>
</div>
<br />
<div class="doctor3">
    <div class="doctor3img">
        <img src="~/Resources/doctor1.png" width="200" height="200" />
    </div>
    <div class="doctor3intro">
        <p>Chief Physician, Professor </p>
    </div>
    <div class="doctor3book">
        <button>
            Book
        </button>
    </div>
</div>
